* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: darkblue;
    --bg-color: black;
    --color: gray;
    --text-white: white;
    --aside-bg: #eee;
    --aside-text: #8c8c8c;
    --default-border: 1px solid rgb(0 0 0 / 0.1);
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--text-white);
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: darkblue;
}

main img {
    width: 150px;
    height: auto;
    border: var(--default-border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin-inline: 1rem;
}

p {
    line-height: 1.5;
    margin: 1rem;
}

aside {
    width: 350px;
    background-color: var(--aside-bg);
    position: relative;
}

aside h2 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

aside img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    margin-top: 25px;
    border-top: 1px solid rgb(0 0 0 / 0.15);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: var(--default-border);
    padding: 1rem;
    background-color: var(--aside-bg);
    color: var(--aside-text);
}

.indent {
    padding-left: 2rem;
}

/* font family and styles */

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}